.profile__subtitl {
  font-family: 'Inter',Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 360px) {
  .profile__subtitl {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}