.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000000;
  position: relative;
}

@media screen and (max-width: 960px) {
  .page {
    padding: 0px 5px 0px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 0;
  }
}