.popup__info-text {
  width: 358px;
  border-width: 0px 0px 1px;
  margin: 0px 36px 30px;
  padding: 0;
  padding-bottom: 13px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-color: rgba(0, 0, 0, .2);
}

.popup__info-text:last-child {
  margin-bottom: 0px;
}


@media screen and (max-width: 600px) {
  .popup__info-text {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
  }
}