.profile {
  color: #FFFFFF;
  max-width: 880px;
  margin: 0px auto 51px;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media screen and (max-width: 720px) {
  .profile {
    flex-wrap: wrap;
    margin-bottom: 36px;
    justify-content: center;
  }
}