.profile__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0px 0px 16px;
}

@media screen and (max-width: 320px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 14px;
  }
}