.elements {
  max-width: 880px;
  margin: 0px auto 67px;
  display: flex;
  column-gap: 17px;
  row-gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 282px;
  }
}

