.popup__button-close {
  background-image: url(../../../images/Close\ Icon.png);
  background-size: contain;
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  background-color: black;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}