.popup__edit-profile {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0px 54px 36px;
}

@media screen and (max-width: 600px) {
  .popup__edit-profile {
    margin-bottom: 75px;
    margin-top: 25px;
    margin-left: 22px;
  }
}